@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>If you are somehow on this page (its unpublished so I doubt anyone sees this) then Hi! This is the final project before we start the RedBadge Final at 
    1150 Academy! 
    </p>
