@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Eleven Note MVC</h1>
    <p class="lead">Eleven Note but better! No postman needed! Sorry PostMan, nothing personal :)  </p>
    @Html.ActionLink("You can click me but I go nowhere", "Index" , "Home")
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Click here to see notes. There is also a button at the top in the navbar that can take you to notes!
        </p>
            @Html.ActionLink("Click me to see NOTES", "Index", "Note")
      
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p></p>
        @Html.ActionLink("You can click me but I go nowhere", "Index", "Home")

    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p></p>
        @Html.ActionLink("You can click me but I go nowhere", "Index", "Home")

    </div>
</div>